.App {
  text-align: center;
}

.arrow-upVote {
  height: 10vmin;
}

.arrow-downVote {
  height: 10vmin;
  transform: rotate(180deg)
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.arrow-button {
  background: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spacer {
  width: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
